.table th, .table td {
  vertical-align: middle;
}

input.form-control::placeholder {
  color: #6c757d;
  font-style: italic;
}

.card-header {
  background-color: #f8f9fa;
  font-size: 1.1rem;
}